input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


body {
    background-color:solid #ffffff;
  }
#iBody
{
  background-image: url('../images/mekong-green.png');
}
footer{
    background-color: #666666;
    vertical-align: middle;
    text-align: center;
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%
}

.heading{
    float: left;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    background-color:#4aaaa5;
    padding: 14px 16px;
    margin-bottom: -5px;
}

h1{
  font-family: 'Georgia', Times, Times New Roman, serif;
  color: #4aaaa5;
  float: left;
}

h2{
  color: #858282;
}


textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 3px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

p {
  line-height: 200%;
}

.button{
  font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    background-color:#4aaaa5;
    padding: 14px 16px;
}

.pSpan
{
  position: absolute;
  display: block;
  left: 20px;
  bottom: 5px;
  height: 40px;
  width: 88%;
  text-align: center;
  font-size: 24px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  overflow: hidden;
  color: white;
  background-color:#4aaaa5;
  line-height: 40px;
}
